extends layout

block content
  h1.content-subhead Recent posts
  section.post
    header.post-header
      h2.post-title
        a(href=post.url)
          = post.title
      p.post-meta
        small.content-subhead #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
        - each tag in post.tags
          a(href=tagUrl(tag), class='post-category post-category-#{tag}').
            #{tag}
    .post.description
      != post.content


